.skills {
  position: relative;
  color: #3f3f3f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techTitleAll {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(249, 248, 247);
  font-weight: normal;
}
.techTitleAll:hover {
  border-bottom: rgb(249, 248, 247) solid 1px;
  animation-name: titleAnimation;
  animation-duration: 5s;
}

@keyframes titleAnimation {
  0% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
  7% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  14% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  20% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  29% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  38% {
    border-bottom: rgb(128, 112, 90) solid 1px;
  }
  47% {
    border-bottom: rgb(63, 63, 63) solid 1px;
  }

  56% {
    border-bottom: rgb(126, 111, 89) solid 1px;
  }
  65% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  74% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  83% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  92% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  100% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
}

.techAll {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  padding: 2rem;
  max-width: 890px;
  /* background: -webkit-linear-gradient(rgb(74, 97, 124), rgb(42, 40, 41)); */
}

.techSingle {
  font-family: "Open Sans";
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  /* background-color: #3f3f3f; */
  margin: 1.2rem;
  transition: all 0.07s;
}
.techSingle:hover {
  font-weight: bold;
  transform: scale(1.15);
}

.techImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding: 5px;
}
.reactNative {
  border-radius: 50%;
  object-fit: cover;
}
.centerMe {
  text-align: center;
}
.redux {
  object-fit: contain;
}

@media (max-width: 337px) {
  .techSingle {
    font-family: "Open Sans";
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    /* background-color: #3f3f3f; */
    margin: 0.5rem;
  }

  .techImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 4px;
  }
}

@media (min-width: 800px) {
  .skills {
    padding-bottom: 2rem;
  }
  .techTitleAll {
    font-size: 1.7rem;
    letter-spacing: 2.3px;
    padding: 1rem 0;
  }
  .techSingle {
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
}
