.recentwork {
  color: #3f3f3f;
}

.sitesTitle {
  width: 15rem;
  text-align: center;
  margin: 5rem auto;
  padding-bottom: 1rem;
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(249, 248, 247);
}

.sitesTitle:hover {
  border-bottom: rgb(249, 248, 247) solid 1px;
  animation-name: sitestitleAnimation;
  animation-duration: 5s;
  cursor: pointer;
}

@keyframes sitestitleAnimation {
  0% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
  7% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  14% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  20% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  29% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  38% {
    border-bottom: rgb(128, 112, 90) solid 1px;
  }
  47% {
    border-bottom: rgb(63, 63, 63) solid 1px;
  }

  56% {
    border-bottom: rgb(126, 111, 89) solid 1px;
  }
  65% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  74% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  83% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  92% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  100% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.siteExp {
  min-width: 10rem;
  max-width: 15rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Raleway";
}

.siteName {
  font-family: "Open Sans";
  font-size: 1rem;
  letter-spacing: 2px;
  border-bottom: solid;
  border-bottom-style: solid;
  border-color: #3f3f3f;
  border-bottom-width: 1px;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
}

.siteName:hover {
  border-bottom: rgb(63, 63, 63) solid 1px;
  animation-name: sitenameAnimation;
  animation-duration: 5s;
  cursor: pointer;
}

@keyframes sitenameAnimation {
  0% {
    border-bottom: rgb(126, 111, 89) solid 1px;
  }
  7% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  14% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  20% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  29% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  38% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
  47% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
  56% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  65% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  74% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  83% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  92% {
    border-bottom: rgb(128, 112, 90) solid 1px;
  }
  100% {
    border-bottom: rgb(63, 63, 63) solid 1px;
  }
}

.sitePic {
  object-fit: scale-down;
  max-width: 18rem;
  min-width: 7rem;
  max-height: 18rem;
  min-height: 7rem;
  border: none;
  border: rgb(249, 248, 247) solid 1px;
}

.sitePic:hover {
  border: rgb(249, 248, 247) solid 1px;
  animation-name: sitepicAnimation;
  animation-duration: 5s;
  cursor: pointer;
}

@keyframes sitepicAnimation {
  0% {
    border: rgb(249, 248, 247) solid 1px;
  }
  8% {
    border: rgb(255, 216, 143) solid 1px;
  }
  18% {
    border: rgb(255, 166, 0) solid 1px;
  }
  28% {
    border: rgb(205, 145, 35) solid 1px;
  }
  35% {
    border: rgb(174, 142, 82) solid 1px;
  }
  40% {
    border: rgb(128, 112, 90) solid 1px;
  }
  47% {
    border: rgb(63, 63, 63) solid 1px;
  }
  55% {
    border: rgb(174, 142, 82) solid 1px;
  }
  70% {
    border: rgb(205, 145, 35) solid 1px;
  }
  77% {
    border: rgb(255, 166, 0) solid 1px;
  }
  92% {
    border: rgb(255, 216, 143) solid 1px;
  }
  100% {
    border: rgb(249, 248, 247) solid 1px;
  }
}

.repo {
  margin-top: 1rem;
}

.repo a {
  color: rgb(247, 148, 29);
  font-weight: bold;
  text-decoration: none;
}

.repo a:hover {
  font-weight: bolder;
  border-bottom: rgb(247, 148, 29) solid 1.2px;
}
.two {
  flex-direction: column-reverse;
  padding: 2rem 0;
}
@media (min-width: 620px) {
  .site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .siteExp {
    margin: 0 1rem;
  }
}

@media (min-width: 800px) {
  .sitesTitle {
    font-size: 1.7rem;
    letter-spacing: 2.3px;
    margin-bottom: 3rem;
  }
  .site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }
  .siteExp {
    margin: 0 2rem;
  }
  .siteName {
    font-size: 1.2rem;
    letter-spacing: 2.15px;
  }
  .sitePic {
    object-fit: scale-down;
    max-width: 30rem;
    min-width: 15rem;
    max-height: 30rem;
    min-height: 15rem;
    border: none;
  }
}

@media (min-width: 1000px) {
  .sitePic {
    max-width: 35rem;
    max-height: 35rem;
  }
}
