.header {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(42, 40, 41);
}

.header > img {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  overflow: hidden;
}

.header > #text {
  position: relative;
  margin-left: 10vw;
  z-index: 2;
  margin-top: 10vh;
  color: rgb(211, 211, 211);
  animation-name: headerTitleAnimation;
  animation-duration: 2s;
}

@keyframes headerTitleAnimation {
  0% {
    opacity: 0;
    left: 0vw;
    color: rgb(247, 148, 29);
  }
  50% {
    opacity: 0.3;
    left: 5vw;
  }
  100% {
    opacity: 1;
    left: 0vw;
    color: rgb(211, 211, 211);
  }
}

.header .title {
  margin-top: 20vh;
  font-size: 2rem;
  letter-spacing: 2.5px;
  font-family: "Open Sans";
  font-weight: normal;
  color: rgb(211, 211, 211);
}

.header #headerP {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Raleway";
  margin-top: 1rem;
}

.header button {
  height: 4rem;
  width: 10rem;
  font-family: "Open Sans";
  font-size: 1rem;
  letter-spacing: 0.17rem;
  color: rgb(211, 211, 211);
  background-color: #3f3f3f;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.header button:hover {
  cursor: pointer;
  border: rgb(211, 211, 211) solid 1px;
}
@media (min-width: 500px) {
  .header > #text {
    margin-left: 15vw;
  }
}

@media (min-width: 800px) {
  .header .title {
    font-size: 2.5rem;
    letter-spacing: 2.8px;
  }

  .header .text {
    font-size: 1.1rem;
    letter-spacing: 0.9px;
  }

  .header button {
    height: 4rem;
    width: 10rem;
    font-family: "Open Sans";
    font-size: 1rem;
    letter-spacing: 0.17rem;
    color: rgb(211, 211, 211);
    background-color: #3f3f3f;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
  }
}
