.Nav {
  height: 4rem;
  width: 100vw;
  position: fixed;
  z-index: 21;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(42, 39, 39);
  color: rgb(211, 211, 211);
  font-family: "Raleway";
  animation-name: navAnimation;
  animation-duration: 2.5s;
}

#navLeft:hover {
  cursor: pointer;
  color: rgb(247, 148, 29);
}

@keyframes navAnimation {
  0% {
    opacity: 0;
    top: -5rem;
    color: rgb(247, 148, 29);
    background-color: rgb(211, 211, 211);
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
    color: rgb(211, 211, 211);
    background-color: rgb(42, 39, 39);
  }
}

.NavButton {
  background-color: #3f3f3f;
  border-radius: 5px;
  border: none;
  height: 2rem;
  line-height: 2rem;
  width: 5rem;
  color: rgb(211, 211, 211);
  font-family: "Open Sans";
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.NavButton:hover {
  cursor: pointer;
  border: rgb(211, 211, 211);
  border-style: solid;
  border-width: 1px;
}
.sideLink {
  letter-spacing: 0.2rem;
  margin: 0.2rem 0;
  padding: 0 1rem;
  font-size: 0.85rem;
}

.sideLink:hover {
  cursor: pointer;
  color: rgb(247, 148, 29);
}

.noShowNav {
  display: none;
}

.showNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4rem;
  right: 1rem;
  width: 55vw;
  max-width: 12rem;
  height: 28vh;
  max-height: 8.3rem;
  z-index: 10;
  background-color: #3f3f3f;
  animation-name: navEnter;
  animation-duration: 1s;
}
@keyframes navEnter {
  0% {
    right: -40rem;
  }
  100% {
    right: 1rem;
  }
}

/* .Nav a {
  color: rgb(211, 211, 211);
  text-decoration: none;
  margin: 0.5rem;
  letter-spacing: 0.35rem;
} */

.largeNav {
  display: none;
}
@media (min-width: 410px) {
  .showNav {
    right: 3rem;
  }
}
@media (min-width: 610px) {
  .showNav {
    right: 6rem;
  }
}

@media (min-width: 800px) {
  .Nav {
    width: 100vw;
  }
  .NavButton {
    display: none;
  }
  .largeNav {
    display: flex;
    color: rgb(211, 211, 211);
    text-decoration: none;
    letter-spacing: 0.15rem;
  }
  .noShowNav {
    display: none;
  }
  .showNav {
    display: none;
  }
  #NavRight {
    display: flex;
    width: 80%;
    justify-content: flex-end;
  }
  .lgNavLink {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    margin: 0 1rem;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 0.7px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .lgNavLink:hover,
  .lgNavLink:focus,
  .lgNavLink:active {
    cursor: pointer;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
