.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 80%;
  background-color: #3f3f3f;
  color: rgb(211, 211, 211);
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.aboutPicMe {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
}
.aboutPageTextAll {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 1rem 0;
}
.aboutPageTitle {
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
  /* text-decoration: underline;
    text-decoration-color: white; */

  border-bottom: solid rgb(211, 211, 211) 0.8px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.aboutPageText {
  font-family: "Raleway";
}

@media (min-width: 800px) {
  .aboutme {
    flex-direction: row-reverse;
    padding: 5rem 2rem;
    max-width: 60rem;
  }
  .aboutPicMe {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1rem;
    /* margin: 0 1rem; */
  }
  .aboutPageTextAll {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    max-width: 30rem;
    padding: 0 2rem;
    margin: 0;
  }
  .aboutPageTitle {
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 2.3px;
  }
  .aboutPageText {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .aboutPageText {
    font-size: 1.15rem;
  }
}
