.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: 80%;
  background-color: #3f3f3f;
  color: rgb(211, 211, 211);
  padding: 2rem 0;
  margin-bottom: 2rem;
}
.aboutPicMe {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
}
.aboutPageTextAll {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 1rem 0;
}
.aboutPageTitle {
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
  /* text-decoration: underline;
    text-decoration-color: white; */

  border-bottom: solid rgb(211, 211, 211) 0.8px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.aboutPageTitle:hover {
  border-bottom: rgb(249, 248, 247) solid 1px;
  animation-name: aboutpageTitleAnimation;
  animation-duration: 5s;
}

@keyframes aboutpageTitleAnimation {
  0% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
  13% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  18% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  28% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  35% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  40% {
    border-bottom: rgb(128, 112, 90) solid 1px;
  }
  47% {
    border-bottom: rgb(63, 63, 63) solid 1px;
  }
  55% {
    border-bottom: rgb(174, 142, 82) solid 1px;
  }
  70% {
    border-bottom: rgb(205, 145, 35) solid 1px;
  }
  77% {
    border-bottom: rgb(255, 166, 0) solid 1px;
  }
  92% {
    border-bottom: rgb(255, 216, 143) solid 1px;
  }
  100% {
    border-bottom: rgb(249, 248, 247) solid 1px;
  }
}

.aboutPageText {
  font-family: "Raleway";
}

@media (min-width: 800px) {
  .aboutme {
    flex-direction: row-reverse;
    padding: 5rem 2rem;
    max-width: 60rem;
  }
  .aboutPicMe {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1rem;
    /* margin: 0 1rem; */
  }
  .aboutPageTextAll {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    max-width: 30rem;
    padding: 0 2rem;
    margin: 0;
  }
  .aboutPageTitle {
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 2.3px;
  }
  .aboutPageText {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .aboutPageText {
    font-size: 1.15rem;
  }
}
